<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.gob.afirma.android.signfolder"
    android:versionCode="9"
    android:versionName="1.4">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="es.gob.afirma.android.signfolder.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="es.gob.android.afirma.signfolder.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <receiver
            android:name="es.gob.afirma.android.gcm.GCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="es.gob.afirma.signfolder" />
            </intent-filter>
        </receiver>

        <service android:enabled="true" android:name="es.gob.afirma.android.gcm.GCMIntentService" />
        <service
            android:name="es.gob.afirma.android.gcm.RegistrationIntentService"
            android:exported="false">
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="es.gob.afirma.android.signfolder.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PetitionListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_unresolved_petition_list"></activity>
        <activity
            android:name=".PetitionDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_request_details"></activity>
        <activity
            android:name=".FileChooserActivity"
            android:label="@string/title_activity_cert_chooser"></activity>
        <activity
            android:name=".ClaveWebViewActivity"
            android:label="@string/title_clave_login"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FireWebViewActivity"
            android:label="@string/title_fire_webview"></activity>
        <activity
            android:name="es.gob.afirma.android.gcm.StartFromNotificationActivity"
            android:label="@string/title_activity_notifications"></activity>
    </application>

</manifest>