<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.gob.afirma.android.signfolder" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_notification" />
        <service android:name="es.gob.afirma.android.fcm.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
		
        <service
            android:name="es.gob.afirma.android.fcm.RegistrationIntentService"
            android:exported="false">
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="es.gob.afirma.android.signfolder.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PetitionListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_unresolved_petition_list" />
        <activity
            android:name=".PetitionDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_request_details" />
        <activity
            android:name=".FileChooserActivity"
            android:label="@string/title_activity_cert_chooser" />
        <activity
            android:name=".ClaveWebViewActivity"
            android:label="@string/title_clave_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FireWebViewActivity"
            android:label="@string/title_fire_webview" />
        <activity
            android:name="es.gob.afirma.android.fcm.StartFromNotificationActivity"
            android:label="@string/title_activity_notifications" />
    </application>

</manifest>